# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://tedyvvimtoqrxewzjdmo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRlZHl2dmltdG9xcnhld3pqZG1vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyOTM5MDgsImV4cCI6MjA4ODg2OTkwOH0.CfBY7r0V3GKNSZpE4uzw-5Mbste_7Z90sx7yW_aOjos
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRlZHl2dmltdG9xcnhld3pqZG1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzI5MzkwOCwiZXhwIjoyMDg4ODY5OTA4fQ.1gh2C77OZ061uK2vETDG7-C8HBn3TOoD92wjYInKw2k

# Portfolio Configuration
NEXT_PUBLIC_PORTFOLIO_NAME=PATEL DIVY
NEXT_PUBLIC_PORTFOLIO_TITLE=Full Stack Developer
NEXT_PUBLIC_PORTFOLIO_EMAIL=pateldivy842005@gmail.com
NEXT_PUBLIC_PORTFOLIO_GITHUB=https://github.com/Divyp842
NEXT_PUBLIC_PORTFOLIO_LINKEDIN=https://www.linkedin.com/in/divy-patel-106b98245 
# NEXT_PUBLIC_PORTFOLIO_TWITTER=https://twitter.com/yourname

# Email Configuration (Resend)
RESEND_API_KEY=re_HvUTESmd_NM6LsAye49mHGZ5y1vU2qjMK
RESEND_FROM_EMAIL=noreply@resend.dev
NEXT_PUBLIC_APP_URL=http://localhost:3000
